* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: rgb(251, 255, 0);
  border: none;
  border-radius: 20px;
  height: 27px;
  width: 75px;
  padding: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(193, 196, 30);
}

button:active {
  background-color: rgb(124, 146, 57);
}



